# Shopify App Credentials
SHOPIFY_API_KEY=3a5414d98bec5d9f4030e3093980f493
SHOPIFY_API_SECRET=your_timer_mint_api_secret

# Public app URL
SHOPIFY_APP_URL=https://h362kcdfqpze9u2ajad7bwrf.91.239.208.85.sslip.io

# Scopes
SCOPES=read_themes,write_themes

# Database
DATABASE_URL=postgresql://user:password@host:5432/timer_mint
DIRECT_URL=postgresql://user:password@host:5432/timer_mint

# Runtime
NODE_ENV=production
PORT=3000
SHOPIFY_BILLING_TEST=true
BILLING_CURRENCY=USD
BILLING_INTERVAL=EVERY_30_DAYS
BILLING_STANDARD_NAME=STANDARD
BILLING_STANDARD_PRICE=50
BILLING_STANDARD_TRIAL_DAYS=0
BILLING_PREMIUM_NAME=PREMIUM
BILLING_PREMIUM_PRICE=150
BILLING_PREMIUM_TRIAL_DAYS=3
